{% extends 'MaisonLiguesCroisiereBundle:Default:base.html.twig' %}
{% block corps %}
<div id="page-wrapper">
	<div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Ajout d'un Secteur</h1>
                </div>
                <!-- /.col-lg-12 -->
    </div>
<form class="col-sm-4" method="post" role="form">
	<div class="form-group">
	{{form_start(form)}}
		<div class="form-group">
			<label> Nom du Secteur : </label>{{ form_widget(form.nom) }}
			<p class="help-block"> Ex : MArseille </p>
		</div>
	{{ form_end(form) }}
	<input class="form-control" type='submit' value='Créer Bateau'/>
	</div>
</form>
{% endblock %}